.container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 94%;
    margin: 3%;
}

.container button[type="button"]{
    background-color: rgba(46, 0, 82, 1);
    border-radius: 14px;
    color: white;
    padding: 10px;
    width: 15%;
}

.productDescription{
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 34px;
}

.productDetail{
    display: flex;
    flex-direction: row;
}
.productDetail img{
    border: rgba(0, 0, 0, 1);
    height: 350px;
    width: 100%;
}
.productCaption{
    margin: 2%;
}
.addToCart{
    border: 1px solid rgba(255, 214, 0, 1);
    background-color: rgba(255, 214, 0, 1) !important;
    border-radius: 40px;
    width: 25% !important;
    display: block;
    margin-bottom: 2%;
    color: black !important;
}
.buyNow{
    border: 1px solid rgba(255, 184, 0, 1);
    background-color: rgba(255, 184, 0, 1) !important;
    border-radius: 40px;
    width: 25% !important;
    display: block;
    color: black !important;
}