.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    width: 50%;
    margin: auto;
}

.musicLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.musicLogo img{
   height: 50px;
   width: 50px;
}

.formContainer{
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 3px solid rgba(217, 217, 217, 1);
    border-radius: 23.2px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}
.inputGroup input{
    border-radius: 5px;
    height: 30px;
}
.inputGroup p{
    color: red;
}
.formContainer input[type="button"]{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    background-color: rgba(46, 0, 82, 1);
    color: white;
}

.newUser{
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.newUser button[type="button"]{
    cursor: pointer;
}